#message-1 {
  color: whitesmoke;
  background: var(--bs-border-color-translucent);
}

@media (min-width: 360px) {
  #message-1 {
    padding: 10px;
    width: 320px;
    border-radius: 20px;
  }
}

@media (min-width: 576px) {
  #message-1 {
    padding: 10px;
    width: 440px;
    border-radius: 20px;
  }
}

@media (min-width: 768px) {
  #message-1 {
    padding: 10px;
    width: 350px;
    border-radius: 20px;
  }
}

@media (min-width: 992px) {
  #message-1 {
    padding: 10px;
    width: 440px;
    border-radius: 20px;
  }
}

@media (min-width: 1200px) {
  #message-1 {
    padding: 10px;
    width: 520px;
    border-radius: 20px;
    font-size: large;
  }
}

@media (min-width: 1400px) {
  #message-1 {
    padding: 10px;
    width: 640px;
    border-radius: 20px;
  }
}

.py-5 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

@media (min-width: 1200px) {
  h2, .h2 {
    font-size: 3rem;
    font-weight: 900;
  }
}

@media (min-width: 1200px) {
  .my-3 {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
    font-size: x-large;
  }
}

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: 30px;
}

.mb-4 {
  margin-bottom: 1.5rem !important;
}

@media (min-width: 360px) {
  p {
    font-size: 1.6rem;
  }
}

@media (min-width: 360px) {
  #message-3 {
    width: 320px;
    height: 200px;
    border-radius: 10px;
    padding: 10px;
    background: var(--bs-border-color-translucent);
    font-size: small;
  }
}

@media (min-width: 576px) {
  #message-3 {
    width: 500px;
    height: 200px;
    border-radius: 10px;
    padding: 10px;
    background: var(--bs-border-color-translucent);
    font-size: large;
  }
}

@media (min-width: 768px) {
  #message-3 {
    width: 700px;
    height: 200px;
    border-radius: 10px;
    padding: 10px;
    background: var(--bs-border-color-translucent);
    font-size: large;
  }
}

@media (min-width: 992px) {
  #message-3 {
    width: 900px;
    height: 200px;
    border-radius: 10px;
    padding: 10px;
    background: var(--bs-border-color-translucent);
    font-size: large;
  }
}

@media (min-width: 1200px) {
  #message-3 {
    width: 1000px;
    height: 200px;
    border-radius: 10px;
    padding: 10px;
    background: var(--bs-border-color-translucent);
    font-size: large;
  }
}

@media (min-width: 1400px) {
  #message-3 {
    width: 1201px;
    height: 200px;
    border-radius: 10px;
    padding: 10px;
    background: var(--bs-border-color-translucent);
    font-size: large;
  }
}

@media (min-width: 360px) {
  .mb-0 {
    margin-bottom: 0 !important;
    font-size: medium;
  }
}

@media (min-width: 992px) {
  .mb-0 {
    margin-bottom: 0 !important;
    font-size: large;
  }
}

.carousel-item {
  position: relative;
}

.carousel-item img:nth-child(2) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
}

.tshirt-overlay, .hoodie-overlay {
  border-radius: 5px;
}

.tshirt-overlay {
  max-width: 35%;
}

.hoodie-overlay {
  max-width: 25%;
}

.quantity {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}
.quantity__minus,
.quantity__plus {
  display: block;
  width: 22px;
  height: 23px;
  margin: 0;
  background: #dee0ee;
  text-decoration: none;
  text-align: center;
  line-height: 23px;
}
.quantity__minus:hover,
.quantity__plus:hover {
  background: #575b71;
  color: #fff;
} 
.quantity__minus {
  border-radius: 3px 0 0 3px;
}
.quantity__plus {
  border-radius: 0 3px 3px 0;
}
.quantity__input {
  width: 32px;
  height: 23px;
  margin: 0;
  padding: 0;
  text-align: center;
  border-top: 2px solid #dee0ee;
  border-bottom: 2px solid #dee0ee;
  border-left: 1px solid #dee0ee;
  border-right: 1px solid #dee0ee;
  background: #fff;
  color: #8184a1;
}
.quantity__minus:link,
.quantity__plus:link {
  color: #8184a1;
} 
.quantity__minus:visited,
.quantity__plus:visited {
  color: #fff;
}

.img-container {
  position: relative;
}

.img-container .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(0,0,0,0.4);
}

.img-container:hover .overlay {
  opacity: 1;
}

.img-container .text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.remove-item {
  font-size: 15px;
  color: #9e0e23;
}

.remove-item:hover {
  cursor: pointer;
}