{% extends 'base.html' %}

{% block title %}Shopping Cart{% endblock %}

{% block header %}
<header class="bg-dark">
    <div class="container py-5">
        <p style="font-size: 30px; font-weight: bold;padding-bottom: 30px;">Shopping Cart</p>
        <div class="row cart-header">
            <div class="col"><span>PRODUCT</span></div>
            <div class="col" style="text-align: right;"><span>PRICE</span></div>
            <div class="col" style="text-align: center;"><span>QUANTITY</span></div>
            <div class="col" style="text-align: right;"><span style="text-align: justify;">TOTAL</span></div>
        </div>
        <hr>

        <div id="cart-items-container">
            {% if cart_items %}
                {% for item in cart_items %}
                    <div class="row item-row" data-id="{{ item.id }}" style="margin-bottom: 20px;">
                        
                        <div class="col cart-img"><img src="data:image/png;base64,{{item.image}}">
                            <p style="font-weight: bold;">{{ item.name }}</p>
                            <p style="text-align: left;color: var(--bs-gray-400);">Size:&nbsp;&nbsp;<span style="text-align: justify;">{{ item.size }}</span>&nbsp;</p>
                            <p style="text-align: left;color: var(--bs-gray-400);">Color:&nbsp;&nbsp;<span style="text-align: justify;">{{ item.color }}</span>&nbsp;</p>
                        </div>
                        
                        <div class="col cart-details" style="text-align: right;">
                            <p style="padding-top: 30px;">$<span class="price-span" data-original-price="{{ item.price }}" style="text-align: justify;">{{ "%.2f"|format(item.price) }}</span></p>
                        </div>
                        
                        <div class="col cart-details" style="padding-top: 30px;">
                            <div class="quantity" data-product-id="{{ item.id }}" style="text-align: center; justify-content: center;">
                                <a href="#" class="quantity__minus"><span>-</span></a>
                                <input name="quantity" type="text" class="quantity__input" value="{{ item.quantity }}">
                                <a href="#" class="quantity__plus"><span>+</span></a>
                            </div>
                            <p class="remove-item" data-id="{{ item.id }}" style="margin-top: 10px; text-align: center; justify-content: center;">Remove Item</button>
                        </div>
                        
                        <div class="col cart-details" style="text-align: right;">
                            <p style="padding-top: 30px;">$<span class="total-span product-total" data-product-id="{{ item.id }}" id="product-subtotal" style="text-align: justify;">{{ "%.2f"|format(item.price * item.quantity) }}</span></p>
                        </div>
                    </div>
                    <p id="empty-cart-message" style="font-size: 17px; display: none;">Cart is empty.</p>
                {% endfor %}
            {% else %}
                <p id="empty-cart-message" style="font-size: 17px;">Cart is empty.</p>
            {% endif %}
        </div>
        

        <hr>
        <div class="col">
            <p style="font-size: 20px;padding-top: 30px;text-align: right;"><strong>Subtotal: </strong>$<span id="subtotal" style="text-align: justify;">{{ "%.2f"|format(subtotal) }}</span></p>
            <section class="py-5" style="display: flex;justify-content: flex-end;">
                <form action="{{ url_for('create_checkout_session') }}" method="POST" id="checkout-form">
                    <input type="hidden" id="session-id" name="sessionId">
                    <button class="btn btn-primary shadow" id="checkout-btn" type="button" style="margin: 10px;filter: blur(0px);backdrop-filter: opacity(1);-webkit-backdrop-filter: opacity(1);--bs-body-font-size: 0.5rem;padding: 11.6px 32px;" data-bs-toggle="modal" data-bs-target="#paymentModal" disabled>Checkout!</button>
                </form>
            </section>
        </div>
    </div>
</header>
{% endblock %}