{% extends "base.html" %}

{% block title %}Models{% endblock %}
{% block username %} {{ user.username }} {% endblock %}
{% block avatar %}
    {% set avatar_url = user.get_avatar_url() %}
    {% if avatar_url %}
        <img class="border rounded-circle img-profile avatar" src="{{ avatar_url }}" alt="Avatar"/>
    {% else %}
        <img class="border rounded-circle img-profile avatar" src="{{ url_for('static', filename='img/default.png') }}" alt="Default Avatar" />
    {% endif %}
{% endblock %}

{% block header %}
<section class="py-5">
    <div class="container text-center py-5">
        <p class="mb-4" style="font-size: 1.4rem;">Presenting our repertoire of sophisticated&nbsp;<strong><span style="color: rgb(25, 245, 170);">models!&nbsp;</span></strong>The dynamic engines behind the remarkable images you see!</p>
    </div>
</section>
<header class="bg-dark">
    <div class="container py-5">
        <div class="row py-5">
            <div class="col-md-6 text-center text-md-start d-flex d-sm-flex d-md-flex justify-content-center align-items-center justify-content-md-start align-items-md-center justify-content-xl-end mb-4">
                <div>
                    <h2 class="fw-bold">Stable Diffusion</h2>
                    <p class="my-3">Ideal for generating images that require a high degree of detail and realism. Exceptionally versatile, it's perfect for general-purpose image generation from a wide array of textual prompts</p>
                </div>
            </div>
            <div class="col-md-6 mb-4">
                <div class="p-5 mx-lg-5" style="background: url(&quot;assets/img/blob.svg&quot;) center / contain no-repeat;">
                    <div class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="4000" data-bs-pause="false" id="carousel-1">
                        <div class="carousel-inner" style="border-radius: 15px;">
                            <div class="carousel-item active"><img class="w-100 d-block" src="assets/img/stable-diffusion1.png" alt="Slide Image"></div>
                            <div class="carousel-item"><img class="w-100 d-block" src="assets/img/stable-diffusion2.png" alt="Slide Image"></div>
                            <div class="carousel-item"><img class="w-100 d-block" src="assets/img/stable-diffusion3.png" alt="Slide Image"></div>
                            <div class="carousel-item"><img class="w-100 d-block" src="assets/img/stable-diffusion4.png" alt="Slide Image"></div>
                            <div class="carousel-item"><img class="w-100 d-block" src="assets/img/stable-diffusion5.png" alt="Slide Image"></div>
                        </div>
                        <div><a class="carousel-control-prev" href="#carousel-1" role="button" data-bs-slide="prev"><span class="carousel-control-prev-icon"></span><span class="visually-hidden">Previous</span></a><a class="carousel-control-next" href="#carousel-1" role="button" data-bs-slide="next"><span class="carousel-control-next-icon"></span><span class="visually-hidden">Next</span></a></div>
                        <ol class="carousel-indicators">
                            <li data-bs-target="#carousel-1" data-bs-slide-to="0" class="active"></li>
                            <li data-bs-target="#carousel-1" data-bs-slide-to="1"></li>
                            <li data-bs-target="#carousel-1" data-bs-slide-to="2"></li>
                            <li data-bs-target="#carousel-1" data-bs-slide-to="3"></li>
                            <li data-bs-target="#carousel-1" data-bs-slide-to="4"></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container py-5">
        <div class="row py-5">
            <div class="col-md-6 mb-4">
                <div class="p-5 mx-lg-5" style="background: url(&quot;assets/img/blob.svg&quot;) center / contain no-repeat;">
                    <div class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="4000" data-bs-pause="false" id="carousel-2">
                        <div class="carousel-inner" style="border-radius: 15px;">
                            <div class="carousel-item active"><img class="w-100 d-block" src="assets/img/realistic-vision1.png" alt="Slide Image"></div>
                            <div class="carousel-item"><img class="w-100 d-block" src="assets/img/realistic-vision2.png" alt="Slide Image"></div>
                            <div class="carousel-item"><img class="w-100 d-block" src="assets/img/realistic-vision3.png" alt="Slide Image"></div>
                            <div class="carousel-item"><img class="w-100 d-block" src="assets/img/realistic-vision4.png" alt="Slide Image"></div>
                            <div class="carousel-item"><img class="w-100 d-block" src="assets/img/realistic-vision5.png" alt="Slide Image"></div>
                        </div>
                        <div><a class="carousel-control-prev" href="#carousel-2" role="button" data-bs-slide="prev"><span class="carousel-control-prev-icon"></span><span class="visually-hidden">Previous</span></a><a class="carousel-control-next" href="#carousel-2" role="button" data-bs-slide="next"><span class="carousel-control-next-icon"></span><span class="visually-hidden">Next</span></a></div>
                        <ol class="carousel-indicators">
                            <li data-bs-target="#carousel-2" data-bs-slide-to="0" class="active"></li>
                            <li data-bs-target="#carousel-2" data-bs-slide-to="1"></li>
                            <li data-bs-target="#carousel-2" data-bs-slide-to="2"></li>
                            <li data-bs-target="#carousel-2" data-bs-slide-to="3"></li>
                            <li data-bs-target="#carousel-2" data-bs-slide-to="4"></li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="col-md-6 text-center text-md-start d-flex d-sm-flex d-md-flex justify-content-center align-items-center justify-content-md-start align-items-md-center justify-content-xl-end mb-4">
                <div>
                    <h2 class="fw-bold">Realistic Vision</h2>
                    <p class="my-3">Exceling at creating lifelike, visually appealing images. It's the perfect choice when your goal is to generate images that closely mimic the nuances and intricacies of the real world from text descriptions</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container py-5">
        <div class="row py-5">
            <div class="col-md-6 text-center text-md-start d-flex d-sm-flex d-md-flex justify-content-center align-items-center justify-content-md-start align-items-md-center justify-content-xl-end mb-4">
                <div>
                    <h2 class="fw-bold">NITRO DIFFUSION</h2>
                    <p class="my-3">Primed for crafting Disney-like character images, this model transforms whimsical and charming text descriptions into vibrant, animated imagery. It's the perfect choice when you aim to bring delightful, cartoon-style characters to life from your imaginative narratives</p>
                </div>
            </div>
            <div class="col-md-6 mb-4">
                <div class="p-5 mx-lg-5" style="background: url(&quot;assets/img/blob.svg&quot;) center / contain no-repeat;">
                    <div class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="4000" data-bs-pause="false" id="carousel-3">
                        <div class="carousel-inner" style="border-radius: 15px;">
                            <div class="carousel-item active"><img class="w-100 d-block" src="assets/img/nitro-diffusion1.png" alt="Slide Image"></div>
                            <div class="carousel-item"><img class="w-100 d-block" src="assets/img/nitro-diffusion2.png" alt="Slide Image"></div>
                            <div class="carousel-item"><img class="w-100 d-block" src="assets/img/nitro-diffusion3.png" alt="Slide Image"></div>
                            <div class="carousel-item"><img class="w-100 d-block" src="assets/img/nitro-diffusion4.png" alt="Slide Image"></div>
                            <div class="carousel-item"><img class="w-100 d-block" src="assets/img/nitro-diffusion5.png" alt="Slide Image"></div>
                        </div>
                        <div><a class="carousel-control-prev" href="#carousel-3" role="button" data-bs-slide="prev"><span class="carousel-control-prev-icon"></span><span class="visually-hidden">Previous</span></a><a class="carousel-control-next" href="#carousel-3" role="button" data-bs-slide="next"><span class="carousel-control-next-icon"></span><span class="visually-hidden">Next</span></a></div>
                        <ol class="carousel-indicators">
                            <li data-bs-target="#carousel-3" data-bs-slide-to="0" class="active"></li>
                            <li data-bs-target="#carousel-3" data-bs-slide-to="1"></li>
                            <li data-bs-target="#carousel-3" data-bs-slide-to="2"></li>
                            <li data-bs-target="#carousel-3" data-bs-slide-to="3"></li>
                            <li data-bs-target="#carousel-3" data-bs-slide-to="4"></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container py-5">
        <div class="row py-5">
            <div class="col-md-6 mb-4">
                <div class="p-5 mx-lg-5" style="background: url(&quot;assets/img/blob.svg&quot;) center / contain no-repeat;">
                    <div class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="4000" data-bs-pause="false" id="carousel-4">
                        <div class="carousel-inner" style="border-radius: 15px;">
                            <div class="carousel-item active"><img class="w-100 d-block" src="assets/img/anime1.png" alt="Slide Image"></div>
                            <div class="carousel-item"><img class="w-100 d-block" src="assets/img/anime2.png" alt="Slide Image"></div>
                            <div class="carousel-item"><img class="w-100 d-block" src="assets/img/anime3.png" alt="Slide Image"></div>
                            <div class="carousel-item"><img class="w-100 d-block" src="assets/img/anime4.png" alt="Slide Image"></div>
                            <div class="carousel-item"><img class="w-100 d-block" src="assets/img/anime5.png" alt="Slide Image"></div>
                        </div>
                        <div><a class="carousel-control-prev" href="#carousel-4" role="button" data-bs-slide="prev"><span class="carousel-control-prev-icon"></span><span class="visually-hidden">Previous</span></a><a class="carousel-control-next" href="#carousel-4" role="button" data-bs-slide="next"><span class="carousel-control-next-icon"></span><span class="visually-hidden">Next</span></a></div>
                        <ol class="carousel-indicators">
                            <li data-bs-target="#carousel-4" data-bs-slide-to="0" class="active"></li>
                            <li data-bs-target="#carousel-4" data-bs-slide-to="1"></li>
                            <li data-bs-target="#carousel-4" data-bs-slide-to="2"></li>
                            <li data-bs-target="#carousel-4" data-bs-slide-to="3"></li>
                            <li data-bs-target="#carousel-4" data-bs-slide-to="4"></li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="col-md-6 text-center text-md-start d-flex d-sm-flex d-md-flex justify-content-center align-items-center justify-content-md-start align-items-md-center justify-content-xl-end mb-4">
                <div>
                    <h2 class="fw-bold">Dreamlike Anime</h2>
                    <p class="my-3">Perfectly suited for general-purpose anime imagery, this model adeptly transforms text prompts into captivating, anime-style visuals. It's your ideal choice when aiming to conjure the unique charm and expressive storytelling found in anime art</p>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}