{% extends 'base.html' %}

{% block title %}Success{% endblock %}

{% block header %}
<header class="bg-dark">
    <div class="container py-5">
        <div class="row py-5">
            <div class="col-md-6 text-center text-md-start d-flex d-sm-flex d-md-flex justify-content-center align-items-center justify-content-md-start align-items-md-center justify-content-xl-end mb-4">
                <div>
                    <p class="fw-bold text-success mb-2">Payment Successful</p>
                    <h2 class="fw-bold">Order Placed!</h2>
                    <p>Thank you for your purchase. Your order is on its way. You will receive an email confirmation shortly.</p>
                    <p class="my-3">Continue shopping <a href="{{ url_for('gallery') }}">here</a></p>                     
                </div>
            </div>
            <div class="col-md-6 mb-4">
                <div class="p-5 mx-lg-5" style="background: url(&quot;assets/img/blob.svg&quot;) center / contain no-repeat;">
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}