#message-1 {
  color: whitesmoke;
  background: var(--bs-border-color-translucent);
}

@media (min-width: 360px) {
  #message-1 {
    padding: 10px;
    width: 320px;
    border-radius: 20px;
  }
}

@media (min-width: 576px) {
  #message-1 {
    padding: 10px;
    width: 440px;
    border-radius: 20px;
  }
}

@media (min-width: 768px) {
  #message-1 {
    padding: 10px;
    width: 350px;
    border-radius: 20px;
  }
}

@media (min-width: 992px) {
  #message-1 {
    padding: 10px;
    width: 440px;
    border-radius: 20px;
  }
}

@media (min-width: 1200px) {
  #message-1 {
    padding: 10px;
    width: 520px;
    border-radius: 20px;
    font-size: large;
  }
}

@media (min-width: 1400px) {
  #message-1 {
    padding: 10px;
    width: 640px;
    border-radius: 20px;
  }
}

.py-5 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

@media (min-width: 1200px) {
  h2, .h2 {
    font-size: 3rem;
    font-weight: 900;
  }
}

@media (min-width: 1200px) {
  .my-3 {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
    font-size: x-large;
  }
}

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: 30px;
}

.mb-4 {
  margin-bottom: 1.5rem !important;
}

@media (min-width: 360px) {
  p {
    font-size: 1.6rem;
  }
}

@media (min-width: 360px) {
  #message-3 {
    width: 320px;
    height: 200px;
    border-radius: 10px;
    padding: 10px;
    background: var(--bs-border-color-translucent);
    font-size: small;
  }
}

@media (min-width: 576px) {
  #message-3 {
    width: 500px;
    height: 200px;
    border-radius: 10px;
    padding: 10px;
    background: var(--bs-border-color-translucent);
    font-size: large;
  }
}

@media (min-width: 768px) {
  #message-3 {
    width: 700px;
    height: 200px;
    border-radius: 10px;
    padding: 10px;
    background: var(--bs-border-color-translucent);
    font-size: large;
  }
}

@media (min-width: 992px) {
  #message-3 {
    width: 900px;
    height: 200px;
    border-radius: 10px;
    padding: 10px;
    background: var(--bs-border-color-translucent);
    font-size: large;
  }
}

@media (min-width: 1200px) {
  #message-3 {
    width: 1000px;
    height: 200px;
    border-radius: 10px;
    padding: 10px;
    background: var(--bs-border-color-translucent);
    font-size: large;
  }
}

@media (min-width: 1400px) {
  #message-3 {
    width: 1201px;
    height: 200px;
    border-radius: 10px;
    padding: 10px;
    background: var(--bs-border-color-translucent);
    font-size: large;
  }
}

@media (min-width: 360px) {
  .mb-0 {
    margin-bottom: 0 !important;
    font-size: medium;
  }
}

@media (min-width: 992px) {
  .mb-0 {
    margin-bottom: 0 !important;
    font-size: large;
  }
}

.carousel-item {
  position: relative;
}

.carousel-item img:nth-child(2) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
}

.tshirt-overlay, .hoodie-overlay {
  border-radius: 5px;
}

.tshirt-overlay {
  max-width: 35%;
}

.hoodie-overlay {
  max-width: 25%;
}

.ref-quantity-widget input {
  width: 40px !important;
}

.ref-tab, .ref-tab * {
  --bs-body-color: initial !important;
  color: initial !important;
}

