/* Media queries -- start */
@media (min-width: 360px) {
  #message-1, #message-3 {
    padding: 10px;
    width: 340px;
    border-radius: 20px;
  }
  .mb-0 {
    margin-bottom: 0 !important;
    font-size: medium;
  }
  .cart-img img {
    width: 100px;
    height: 100px;
  }
  .cart-header span, .cart-details, .cart-img p, .remove-item {
    font-size: 0.8rem;
  }
}

@media (min-width: 576px) {
  #message-1, #message-3 {
    padding: 10px;
    width: 440px;
    border-radius: 20px;
  }
  .cart-img img {
    width: 125px;
    height: 125px;
  }
  .cart-header span, .cart-details, .cart-img p, .remove-item {
    font-size: 0.9rem;
  }
}

@media (min-width: 768px) {
  #message-1, #message-3 {
    padding: 10px;
    width: 350px;
    border-radius: 20px;
  }
  .cart-img img {
    width: 150px;
    height: 150px;
  }
  .cart-header span, .cart-details, .cart-img p, .remove-item {
    font-size: 1.1rem;
  }
}

@media (min-width: 992px) {
  #message-1, #message-3 {
    padding: 10px;
    width: 440px;
    border-radius: 20px;
  }
  .mb-0 {
    margin-bottom: 0 !important;
    font-size: large;
  }
  .cart-img img {
    width: 150px;
    height: 150px;
  }
  .cart-header span {
    font-size: 1.5rem;
  }
  .cart-details, .cart-img p, .remove-item {
    font-size: 1.2rem;
  }
}

@media (min-width: 1200px) {
  #message-1, #message-3 {
    padding: 10px;
    width: 520px;
    border-radius: 20px;
    font-size: large;
  }
  h2, .h2 {
    font-size: 3rem;
    font-weight: 900;
  }
  .my-3 {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
    font-size: x-large;
  }
  .cart-img img {
    width: 150px;
    height: 150px;
  }
  .cart-details, .cart-img p, .remove-item {
    font-size: 1.2rem;
  }
}

@media (min-width: 1400px) {
  #message-1, #message-3 {
    padding: 10px;
    width: 640px;
    border-radius: 20px;
  }
  .cart-img img {
    width: 175px;
    height: 175px;
  }
  .cart-details, .cart-img p, .remove-item {
    font-size: 1.2rem;
  }
}
/* Media queries -- end */

/* index.html -- start */
#message-1, #message-3 {
  color: whitesmoke;
  background: var(--bs-border-color-translucent);
}

.list-group-item {
  transition: all 0.3s ease-in-out;
}

.list-group-item:hover {
  color: #008000 !important;
  transform: translateX(10px);
  cursor: pointer;
}

.animated-text {
  animation: fadeIn 2s ease-in-out 1;
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.design-guide, .index-favs {
  text-align: center;
  font-size: 1.1rem;
  color: gray;
  transition: all 0.3s ease-in-out;
}

.design-guide a {
  text-decoration: none;
}

.design-guide a:hover {
  color: #008000;
}

.design-guide:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.model-button, .upgrade-badge {
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

#arrowIcon {
  transition: transform 0.3s ease-in-out;
}

.model-button:hover {
  background-color: #17a2b8 !important;
  color: #ffffff !important;
}

.model-button:hover #arrowIcon {
  transform: scale(1.2);
}

.upgrade-model {
  transition: all 0.3s ease-in-out;
}

.upgrade-model:hover .upgrade-badge {
  background-color: #17a2b8 !important;
  color: #ffffff !important;
}
/* index.html -- end */

/* result.html -- start */
.tshirt-overlay, .hoodie-overlay {
  border-radius: 5px;
}

.tshirt-overlay {
  max-width: 35%;
}

.hoodie-overlay {
  max-width: 25%;
}
/* result.html -- end */

/* cart.html -- start */
.quantity {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}
.quantity__minus,
.quantity__plus {
  display: block;
  width: 22px;
  height: 23px;
  margin: 0;
  background: #dee0ee;
  text-decoration: none;
  text-align: center;
  line-height: 23px;
}
.quantity__minus:hover,
.quantity__plus:hover {
  background: #575b71;
  color: #fff;
} 
.quantity__minus {
  border-radius: 3px 0 0 3px;
}
.quantity__plus {
  border-radius: 0 3px 3px 0;
}
.quantity__input {
  width: 32px;
  height: 23px;
  margin: 0;
  padding: 0;
  text-align: center;
  border-top: 2px solid #dee0ee;
  border-bottom: 2px solid #dee0ee;
  border-left: 1px solid #dee0ee;
  border-right: 1px solid #dee0ee;
  background: #fff;
  color: #8184a1;
}
.quantity__minus:link,
.quantity__plus:link {
  color: #8184a1;
} 
.quantity__minus:visited,
.quantity__plus:visited {
  color: #fff;
}

.remove-item {
  color: #9e0e23;
}

.remove-item:hover {
  cursor: pointer;
}

.cart-img p {
  padding-top: 5px;
  margin: 0;
  line-height: normal;
}
/* cart.html -- end */

/* gallery.html -- start */
.img-container {
  position: relative;
}

.img-container .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(0,0,0,0.4);
}

.img-container:hover .overlay {
  opacity: 1;
}

.img-container .text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
/* gallery.html -- end */

/* Misc. -- start */
.py-5 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: 30px;
}

.mb-4 {
  margin-bottom: 1.5rem !important;
}

.carousel-item {
  position: relative;
}

.carousel-item img:nth-child(2) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
}

.navbar-divider {
  color: gray;
  padding-right: 20px;
}

.basic_plan {
  border: #3763f4 solid 2px;
  border-radius: 20px;
}
/* Misc. -- end */
