{% extends "base.html" %}

{% block title %}Error{% endblock %}

{% block header %} 
<header class="bg-dark">
    <div class="container py-5">
        <div class="row py-5">
            <div class="col-md-6 mb-4">
                <div class="p-5 mx-lg-5" style="background: url(&quot;assets/img/icons/blob.svg&quot;) center / contain no-repeat;">
                    <p class="mb-4"><strong><span style="color: rgb(25, 245, 170);">Error&nbsp;</span></strong><br>Error generating image. Please try again.</p>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}