{% extends 'base_template.html' %}

{% block title %}
AIF - Gallery
{% endblock %}

{% block content %}

<div class="gallery-header">
    <h2>Gallery</h2><hr><br>
    <p>Here are some examples of the AI Flicks app in action.</p>
</div>

<div class="gallery">
    <div class="grid">
      <img src="../static/images/example1.png" alt="Image 1">
      <img src="../static/images/example2.png" alt="Image 2">
      <img src="../static/images/example3.png" alt="Image 3">
      <img src="../static/images/example4.png" alt="Image 4">
      <img src="../static/images/example5.png" alt="Image 5">
      <img src="../static/images/example6.png" alt="Image 6">
      <img src="../static/images/example7.png" alt="Image 7">
      <img src="../static/images/example8.png" alt="Image 8">
      <img src="../static/images/example9.png" alt="Image 9">
      <img src="../static/images/example10.png" alt="Image 10">
    </div>
  </div>  

{% endblock %}