{% extends 'base_template.html' %}

{% block title %}
AIF - Gallery
{% endblock %}

{% block content %}

<div class="gallery-header">
    <h2>Gallery</h2><hr><br>
    <p>Here are some examples of the AI Flicks app in action.</p>
</div>

<div class="gallery">
    <div class="grid">

      <div class="grid-item">
        <img src="../static/images/example1.png" alt="Image 1">
        <div class="select-container">
          <select class="size-select">
              <option value="">Select Size</option>
              <option value="Small">Small</option>
              <option value="Medium">Medium</option>
              <option value="Large">Large</option>
              <option value="XXL">XXL</option>
          </select>
          <button class="select-button" onclick="addToCart('Item 2', 15)">Add to cart</button>
        </div>
      </div>

      <div class="grid-item">
        <img src="../static/images/example2.png" alt="Image 2">
        <div class="select-container">
          <select class="size-select">
              <option value="">Select Size</option>
              <option value="Small">Small</option>
              <option value="Medium">Medium</option>
              <option value="Large">Large</option>
              <option value="XXL">XXL</option>
          </select>
          <button class="select-button" onclick="addToCart('Item 2', 15)">Add to cart</button>
        </div>
      </div>

      <div class="grid-item">
        <img src="../static/images/example3.png" alt="Image 3">
        <div class="select-container">
          <select class="size-select">
              <option value="">Select Size</option>
              <option value="Small">Small</option>
              <option value="Medium">Medium</option>
              <option value="Large">Large</option>
              <option value="XXL">XXL</option>
          </select>
          <button class="select-button" onclick="addToCart('Item 2', 15)">Add to cart</button>
        </div>
      </div>

      <div class="grid-item">
        <img src="../static/images/example4.png" alt="Image 4">
        <div class="select-container">
          <select class="size-select">
              <option value="">Select Size</option>
              <option value="Small">Small</option>
              <option value="Medium">Medium</option>
              <option value="Large">Large</option>
              <option value="XXL">XXL</option>
          </select>
          <button class="select-button" onclick="addToCart('Item 2', 15)">Add to cart</button>
        </div>
      </div>

      <div class="grid-item">
        <img src="../static/images/example5.png" alt="Image 5">
        <div class="select-container">
          <select class="size-select">
              <option value="">Select Size</option>
              <option value="Small">Small</option>
              <option value="Medium">Medium</option>
              <option value="Large">Large</option>
              <option value="XXL">XXL</option>
          </select>
          <button class="select-button" onclick="addToCart('Item 2', 15)">Add to cart</button>
        </div>
      </div>

      <div class="grid-item">
        <img src="../static/images/example6.png" alt="Image 6">
        <div class="select-container">
          <select class="size-select">
              <option value="">Select Size</option>
              <option value="Small">Small</option>
              <option value="Medium">Medium</option>
              <option value="Large">Large</option>
              <option value="XXL">XXL</option>
          </select>
          <button class="select-button" onclick="addToCart('Item 2', 15)">Add to cart</button>
        </div>
      </div>

      <div class="grid-item">
        <img src="../static/images/example7.png" alt="Image 7">
        <div class="select-container">
          <select class="size-select">
              <option value="">Select Size</option>
              <option value="Small">Small</option>
              <option value="Medium">Medium</option>
              <option value="Large">Large</option>
              <option value="XXL">XXL</option>
          </select>
          <button class="select-button" onclick="addToCart('Item 2', 15)">Add to cart</button>
        </div>
      </div>

      <div class="grid-item">
        <img src="../static/images/example8.png" alt="Image 8">
        <div class="select-container">
          <select class="size-select">
              <option value="">Select Size</option>
              <option value="Small">Small</option>
              <option value="Medium">Medium</option>
              <option value="Large">Large</option>
              <option value="XXL">XXL</option>
          </select>
          <button class="select-button" onclick="addToCart('Item 2', 15)">Add to cart</button>
        </div>
      </div>

      <div class="grid-item">
        <img src="../static/images/example9.png" alt="Image 9">
        <div class="select-container">
          <select class="size-select">
              <option value="">Select Size</option>
              <option value="Small">Small</option>
              <option value="Medium">Medium</option>
              <option value="Large">Large</option>
              <option value="XXL">XXL</option>
          </select>
          <button class="select-button" onclick="addToCart('Item 2', 15)">Add to cart</button>
        </div>
      </div>

      <div class="grid-item">
        <img src="../static/images/example10.png" alt="Image 10">
        <div class="select-container">
          <select class="size-select">
              <option value="">Select Size</option>
              <option value="Small">Small</option>
              <option value="Medium">Medium</option>
              <option value="Large">Large</option>
              <option value="XXL">XXL</option>
          </select>
          <button class="select-button" onclick="addToCart('Item 2', 15)">Add to cart</button>
        </div>
      </div>
      

    </div>
  </div>  

{% endblock %}