{% extends 'base.html' %}

{% block title %}AIFLICKS - Studio{% endblock %}

{% block header %}
<div class="container mt-5">
    <div class="my-5 text-center">
        <span class="h6 d-block text-success mb-3">Image Generation</span>
        <h1 class="display-4 mb-4">Lab Studio</h1>
    </div>
    
    <div class="row mt-5">
        <!-- Sidebar -->
        <div class="col-md-3 col-sm-12">
            <div class="p-3 bg-dark border rounded mb-3 mb-md-0">
                <h5 class="mb-3 text-white">Select Model</h5>
                <table class="table table-hover">
                {% for model in models %}
                    <tr onclick="selectModel('{{ model }}')" style="cursor: pointer;">
                        <td class="text-white" style="padding: 0.25rem;">{{ model.title }}</td>
                    </tr>
                {% endfor %}
                </table>
            </div>
        </div>

        <!-- Main Content -->
        <div class="col-md-9 col-sm-12">
            <div class="row justify-content-center">
                <div class="col-lg-12 mb-5">
                    <iframe class="border-0 shadow-lg" src="http://localhost:7860" style="width: 100%; height: 600px;"></iframe>
                </div>
            </div>

            <div class="row justify-content-center mt-4">
                <div class="col-auto">
                    <a href="{{ url_for('studio.stop_gradio') }}" class="btn btn-sm btn-primary px-4">Stop Studio</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}