{% extends 'base_template.html' %}

{% block title %}
AI Flicks
{% endblock %}

{% block content %}
<div class="body-logo">
    AI<span> Flicks</span>
</div>

<div class="description">
    <p>Get your hands on unique and personalized t-shirts and more, designed just for you. Simply provide us with your prompts
    and we'll create a one-of-a-kind design that perfectly fits your style. From trendy graphics 
    to catchy slogans, we've got you covered. Start designing your dream t-shirt today!</p>
</div>

<div class="options-container">
    <div id="model-1" class="option-card">
        <h3>openjourney-v4</h3>
        <p>For all Purposes.</p>
    </div>
    <div id="model-2" class="option-card">
        <h3>Realistic_Vision_V1.4</h3>
        <p>Hyper Realistic.</p>
    </div>
    <div id="model-3" class="option-card">
        <h3>stable-diffusion-v1-4</h3>
        <p>Anime</p>
    </div>
    <div id="model-4" class="option-card">
        <h3>stable-diffusion-2</h3>
        <p>Semi_realistic</p>
    </div>
</div>

<div class="prompt">
    <div class="row">
        <div class="column1">
            <form action="{{ url_for('model') }}" id="prompt" class="form" method="POST">
                <textarea id="prompt-textarea" type="text" name="prompt" placeholder="Start prompt here..." required></textarea>
                
                <div class="button-container">
                    <button type="button" class="button" onclick="generateRandomPrompt()">
                        <span class="button__text">Random Prompt</span>
                    </button>
                    <button type="submit" class="button">
                        <span class="button__text">Get Results</span>
                    </button>
                </div>                
        
                <!-- Hidden inputs for checkbox values -->
                <input type="hidden" name="photorealistic" value="">
                <input type="hidden" name="semantic" value="">
                <input type="hidden" name="coherence" value="">
                <input type="hidden" name="novelty" value="">

                <!-- Hidden input for selected model -->
                <input type="hidden" id="selected-model" name="selected-model" value="model-1">
            </form>
        </div> 
        
        
        <script>
            // get all the cards
            const cards = document.querySelectorAll('.option-card');
        
            // iterate over each card
            cards.forEach(card => {
                // add event listener
                card.addEventListener('click', function() {
                    // remove 'option-card-selected' class from all cards
                    cards.forEach(card => {
                        card.classList.remove('option-card-selected');
                    });
        
                    // add 'option-card-selected' class to clicked card
                    this.classList.add('option-card-selected');
        
                    // update selected model hidden field
                    document.getElementById('selected-model').value = this.id;
                    console.log(this.id)
                });
            });
        
            // By default select the first option
            const defaultModel = document.getElementById('model-1');
            defaultModel.classList.add('option-card-selected');
            document.getElementById('selected-model').value = defaultModel.id;
        
        </script>
          
        <div class="column2">
            <div class="prompt-right">
                <div class="prompts-options">
                    <p>Quality Attributes to consider:</p>
                    <div class="checkbox">
                        <input type="checkbox" id="photorealistic-checkbox" name="photorealistic-checkbox" value="photorealistic">
                        <label for="photorealistic-checkbox">Photorealistic</label>
                        <p>The degree of realism in the generated image, which can range from highly realistic to stylized or abstract.</p>
                    </div>
                    
                    <div class="checkbox">
                        <input type="checkbox" id="semantic-checkbox" name="semantic-checkbox" value="semantic">
                        <label for="semantic-checkbox">Semantic consistency</label>
                        <p>The extent to which the generated image accurately reflects the intended meaning of the textual prompt.</p>
                    </div>

                    <div class="checkbox">
                        <input type="checkbox" id="coherence-checkbox" name="coherence-checkbox" value="coherence">
                        <label for="coherence-checkbox">Coherence</label>
                        <p>The overall consistency and logical flow of the generated image with respect to the input prompt.</p>
                    </div>

                    <div class="checkbox">
                        <input type="checkbox" id="novelty-checkbox" name="novelty-checkbox" value="novelty">
                        <label for="novelty-checkbox">Novelty</label>
                        <p>The degree to which the generated image is unique or original in comparison to existing images.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
