{% extends "base.html" %}

{% block title %}
    Subscription Successful
{% endblock %}

{% block header %}
<section class="py-5">
    <div class="container py-5">
        <div class="row mb-4 mb-lg-5">
            <div class="col-md-8 col-xl-6 text-center mx-auto">
                <h2 class="fw-bold">Subscription Successful</h2>
                <p class="fw-bold text-success mb-2">Thank you for subscribing. Please login to continue enjoying our premium services.</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}
